<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Layout</title>
</head>
<body>

<table>

    <tr>
        <th>Column One</th>
        <th>Column Two</th>
    </tr>

    <tr>
        <td>


            <img src="../../assets/image.jpg" height="200" width="200"/>
            <img src="../../assets/image.jpg" height="200" width="200"/>
            <img src="../../assets/image.jpg" height="200" width="200"/>
            <img src="../../assets/image.jpg" height="200" width="200"/>
            <img src="../../assets/image.jpg" height="200" width="200"/>
            <img src="../../assets/image.jpg" height="200" width="200"/>
        </td>

        <td>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wW53bxLEtgo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </td>

    </tr>

</table>

</body>
</html>